.idea
.vs

Trixy.Bot/.vs
Trixy.Bot/.vs/debug
Trixy.Bot/bin
Trixy.Bot/obj
Trixy.Bot/Properties/launchSettings.json
Trixy.Bot/.idea
Trixy.Bot/appsettings.json

Trixy.Bot.Test/bin
Trixy.Bot.Test/obj

Trixy.BotWorker/bin
Trixy.BotWorker/obj
Trixy.BotWorker/Properties/launchSettings.json
Trixy.BotWorker/appsettings.json
Trixy.BotWorker/appsettings.Development.json

Trixy.Common/bin
Trixy.Common/obj

Trixy.Abstractions/bin
Trixy.Abstractions/obj